//Colors
$background-primary: rgb(10, 11, 12);
$background-hover-primary: rgb(114,137,218);
$background-secondary: rgb(23, 27, 29);
$background-footer: rgba(10, 11, 12, 0.5);
$letters-primary: rgb(200, 200, 200);
$letters-hover-primary: rgb(255, 255, 255);
$test-background: rgba(255, 255, 255, 0.5);


//Sizes
$header-default-height: 15vh;
$main-default-min-height: 70vh;