@import '../abstract/variables';

.body {
  background-color: $background-primary;
  color: $letters-primary;
}

ul {
  list-style: none;
  padding: 1.5rem;
}

a{
  color: $letters-primary;
  text-decoration: none;
  &:hover{
    color: $letters-hover-primary;
  }
}

button {
  background-color: transparent;
  border: 2px solid $letters-primary;
  color: $letters-primary;
  font-weight: 700;
  &:hover {
    background-color: $background-hover-primary;
    border-color: $letters-hover-primary;
    color: $letters-hover-primary;
  }
}
.page-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40rem;
  width: 100%;
}

.page-display-head {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem 0 3rem;
  padding: .2rem 1rem;
  position: relative;
  width: 100%;
}

.page-table {
  text-align: center;
}

.form-button {
  width: 15rem;
}