@import '../abstract/variables';

.body {
  background-color: $background-primary;
  color: $letters-primary;
}

ul {
  list-style: none;
  padding: 1.5rem;
}

a{
  color: $letters-primary;
  text-decoration: none;
  &:hover{
    color: $letters-hover-primary;
  }
}

button {
  background-color: transparent;
  border: 2px solid $letters-primary;
  color: $letters-primary;
  font-weight: 700;
  &:hover {
    background-color: $background-hover-primary;
    border-color: $letters-hover-primary;
    color: $letters-hover-primary;
  }
}

.form-button {
  width: 15rem;
}