@import '../abstract/variables';

.categories-form {
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  height: 30vh;
  margin: 1rem 0 3rem 0;
  h3 {
    text-align: center;
  }
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    input {
      font-size: 1.1rem;
      height: 2rem;
      margin-bottom: 0.5rem;
      outline: none;
      width: 30rem;
    }

    button {
      width: 15rem; 
    }
  }
}

.category-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40rem;
  width: 100%;
}