@import '../abstract/variables';


.product-form {
  background-color: $background-secondary;
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 1rem;
  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 100%;

    .project-first-inputs {
      display: flex;
      justify-content: center;
      input {
        margin: 0.3rem 0.3rem 0.3rem 0.3rem;
      }
    }
    .project-second-inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      label {
        font-weight: 700;
        margin: 0.25rem 0;
      }
      input {
        width: 30vw;
        margin-bottom: 0.5rem;
      }
      select {
        margin-bottom: 0.5rem;
        text-align: center;
        height: 2rem;
        width: 15vw;
      }
    }
    button {
      margin: 0.25rem 0;
      width: 15rem;
    }
  }
}

.product-display-head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: .2rem 1rem;
  position: relative;
  width: 60%;
  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.product-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20rem;
  width: 100%;
  .product-table-image {
    width: 6rem;
    max-width: 15rem;
  }
}